<h1 style="color: green">LeBonCoinDuDessin</h1>
<h5>Bienvenue <small style="color: red"><%= @user.email %></small> !</h5>


 <p>Découvrez des dessins uniques et originaux provenant d'artistes talentueux du monde entier.<br>
  Parcourez notre catalogue facilement et contactez directement les vendeurs pour en savoir plus.<br>
   Merci de nous faire confiance pour vos achats en ligne.
 </p>
 <p>
  Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
</p>
<p>
 Cordialement L'equipe LeBonCoinDuDessin<br>
 <small style="color: blue">Jerry MANKOU | Kevin LETOURNEUR | Sarah MAILAIKIA | Anthony MILORADOVIC </small>
</p>

<br><br><br>
<hr>
<br>
<h1>LeBonCoinDuDessin</h1>
<h5 style="color: green">Welcome <%= @user.email %> !</h5>


 <p>Discover unique and original designs from talented artists around the world.<br>
  Browse our catalog easily and contact the sellers directly to find out more.<br>
   Thank you for trusting us with your online purchases.
 </p>
 <p>
  To access your customer area, log in via: <%= @url %>.
</p>
<p>
Sincerely, LeBonCoinDu Dessin team<br>
 <small style="color: blue">Jerry MANKOU | Kevin LETOURNEUR | Sarah MAILAIKIA | Anthony MILORADOVIC </small>
</p>
